{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<ul>
    {% for project in projects %}
        <li><a href="{{ url('project') }}">{{ project.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
